<main>
    <div id="home">
        <ul class="posts">
        {{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "post") }}
        {{ range $paginator.Pages }}
            <li itemscope itemtype="//schema.org/BlogPosting">
                <a href="{{ .Permalink }}" itemprop="url">
                    <div class="p-wrap">
                        <p><span class="title-attr">>>></span><span class="baffle">{{ .Title }}</span><span class="title-attr"><<<</span></p>
                    </div>
                </a>
            </li>
        {{ end }}
        </ul>
    </div>
</main>
